<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="instance" source="app.instance-id" defaultValue="backend-local"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>
            <includeMdcKeyName>symbol</includeMdcKeyName>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

    <logger name="com.sweta.limitorder" level="DEBUG"/>

</configuration>
